In [1]:
import os
os.listdir()

['.ipynb_checkpoints',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'Testing.ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb']

In [5]:
import pandas

In [7]:
df1=pandas.read_csv("supermarkets.csv")
df1.set_index("ID")

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [10]:
df2=pandas.read_json("supermarkets.json")
df2.set_index("ID")

,Address,City,Country,Employees,Name,State
ID,,,,,,
1,3666 21st St,San Francisco,USA,8,Madeira,CA 94114
2,735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
3,332 Hill St,San Francisco,USA,25,Super River,California 94114
4,3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
5,1056 Sanchez St,San Francisco,USA,12,Sanchez,California
6,551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [11]:
df3=pandas.read_excel("supermarkets.xlsx")
df3.set_index("ID")

,Address,City,State,Country,Supermarket Name,Number of Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [12]:
df4=pandas.read_csv("supermarkets-commas.txt")
df4.set_index("ID")

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [14]:
df5=pandas.read_json("http://pythonhow.com/supermarkets.json")
df5.set_index("ID")

,Address,City,Country,Employees,Name,State
ID,,,,,,
1,3666 21st St,San Francisco,USA,8,Madeira,CA 94114
2,735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
3,332 Hill St,San Francisco,USA,25,Super River,California 94114
4,3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
5,1056 Sanchez St,San Francisco,USA,12,Sanchez,California
6,551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [21]:
df5=df5.set_index("Address")

KeyError: 'Address'

In [22]:
df5

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [23]:
df5.iloc[1:3,1:3]

               Country  Employees
Address
735 Dolores St     USA         15
332 Hill St        USA         25

In [24]:
df5.ix[3,"Name"]

c:\program files (x86)\python37-32\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

"Ben's Shop"

In [25]:
df5

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [26]:
df5.drop("332 Hill St", 0)

                          City Country  Employees  ID         Name       State
Address
3666 21st St     San Francisco     USA          8   1      Madeira    CA 94114
735 Dolores St   San Francisco     USA         15   2  Bready Shop    CA 94119
3995 23rd St     San Francisco     USA         10   4   Ben's Shop    CA 94114
1056 Sanchez St  San Francisco     USA         12   5      Sanchez  California
551 Alvarado St  San Francisco     USA         20   6   Richvalley    CA 94114

In [27]:
df5.index

Index(['3666 21st St', '735 Dolores St', '332 Hill St', '3995 23rd St',
       '1056 Sanchez St', '551 Alvarado St'],
      dtype='object', name='Address')

In [28]:
df5.drop(df5.columns[0:3],1)

                 ID         Name             State
Address
3666 21st St      1      Madeira          CA 94114
735 Dolores St    2  Bready Shop          CA 94119
332 Hill St       3  Super River  California 94114
3995 23rd St      4   Ben's Shop          CA 94114
1056 Sanchez St   5      Sanchez        California
551 Alvarado St   6   Richvalley          CA 94114

In [29]:
type(df5)

pandas.core.frame.DataFrame

In [31]:
import geopy
dir(geopy)

['ArcGIS',
 'AzureMaps',
 'BANFrance',
 'Baidu',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeEarth',
 'GeocodeFarm',
 'Geolake',
 'GoogleV3',
 'Here',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'MapBox',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Pelias',
 'Photon',
 'PickPoint',
 'Point',
 'Timezone',
 'TomTom',
 'What3Words',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'location',
 'point',
 'timezone',
 'units',
 'util']

In [32]:
from geopy.geocoders import Nominatim

In [33]:
nom=Nominatim()

c:\program files (x86)\python37-32\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Using Nominatim with the default "geopy/1.18.1" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  """Entry point for launching an IPython kernel.

In [34]:
n=nom.geocode("3995 23rd St, San Fransisco, CA 94114")

In [35]:
import pandas
df=pandas.read_csv("supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [38]:
df["Address"]=df["Address"]+", "+df["City"] +", "+["State"]+ ", "+ df["Country"]
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, State, USA, San F...",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, State, USA, San...",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, State, USA, San Fr...",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, State, USA, San F...",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, State, USA, Sa...",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St, San Francisco, State, USA, Sa...",San Francisco,CA 94114,USA,Richvalley,20